.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 59%;
    top: 20px;
    color: rgb(26, 26, 29);
}
