<body><div class="background">
   <div class="shape"></div>
   <div class="shape"></div>
</div>
<form #userform="ngForm" (ngSubmit)="login()">
  
                  <h3 class='text-center'>Login Here</h3>
                  <h4>Enter Email</h4>
                  <input type="email" placeholder="Email Id"  [(ngModel)]='user.email' name='email' required>
                  <h4>Enter password</h4>
                  <input type="password" placeholder="Password"  [(ngModel)]='user.password' name='password'required>
                  <button  id="submit">login</button>
             

</form>
</body>