<body>
    <br>
    <br>
    <div align="center">
    <h3 class="nav-item">
        <a routerLink="/login" class="nav-link">Login </a>
    </h3>
      <h3 class="nav-item">
        <a routerLink="/register" class="nav-link">Register </a>
      </h3>
      <h3 class="nav-item">
        <a routerLink="/adminlogin" class="nav-link"> Admin Login </a>
      </h3>
    </div>
</body>

