body {
	background-image:
		url('https://www.pompy.com/images/stories/195/64/In-Stock-HP-1128202113451.gif');
        background-size:cover;
        height:80vh;
        padding: 0;
        margin: 0;
    
	
}

.navitem
{
    align-items: center;
}
