
<div id='body'>
<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <i style="font-size: 40px;" class="fab fa-product-hunt">&nbsp;
                
                </i>
                <h6>All products</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <i style="font-size: 40px;" class="fas fa-chair">&nbsp;
                
                </i>
                <h6>Chairs</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <i style="font-size: 40px;" class="fas fa-lightbulb">&nbsp;
                
                </i>
                <h6>Lamps</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <i style="font-size: 40px;" class="fas fa-couch">&nbsp;
                
                </i>
                <h6>Couches</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <button type="btn " (click)=addtocart(item)>Add to cart</button>
            </div>
        </ng-container>

    </div>
</div>
</div>