
  <body><div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
 </div><form>
                   <h3>Admin Login</h3>
                <div class="container-fluid form-controlers">
                    <h4>enter email</h4>
                   <input type="email" placeholder="Email Id"   name='email' required>
                   <h4>enter password</h4>
                   <input type="password" placeholder="Password"   name='password'required>
                   <button ><a routerLink="/procrud" class="nav-link"> Admin Login </a>
                   </button>
                </div>
  
            </form>

