<form #userform="ngForm" (ngSubmit)="register()">
   
                  <H3>Register Here</H3>
                  <div class="row form-controler">
                     <div class="col"><h4>Enter first name</h4><input type="text" placeholder="First Name" name="firstname" [(ngModel)]='newUser.firstname' required></div>
                     <div class="col"><h4>Enter last name</h4><input type="text" placeholder="Last Name" name="lastname" [(ngModel)]='newUser.lastname'></div>
                  </div>
               <div>
                  <h4>Enter email </h4>
                  <input type="email" placeholder="Email Id" name='email' [(ngModel)]='newUser.email' required>
                  <h4>Enter phone </h4>
                  <input type="text" placeholder="Phone" name="phone" [(ngModel)]='newUser.phone' required>
                  <h4>Enter epassword </h4>
                  <input type="password" placeholder="Password" name='password' [(ngModel)]='newUser.password' required>
                  <h4>Re-Enter password </h4>
                  <input type="password" placeholder="Confirm Password" name="confirm_password" [(ngModel)]='newUser.confirmpassword' required>
                  <button id="submit">Register</button>
               </div>

</form>